@model X.PagedList.IPagedList<AKP_TrackManager.Models.Location>
    @using X.PagedList.Mvc.Core;
    @using X.PagedList;
    @using X.PagedList.Mvc.Common
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    @@media screen and (max-width: 1024px) {
        .hidecolumn {
            display: none !important;
        }
    }
</style>
<h1>Locations</h1>
   @if (User.IsInRole("Admin"))
    {
        <p>
            <a asp-action="Create" class="btn btn-primary">Create New Location</a>
        </p>
    }
<form asp-controller="Locations" asp-action="Index">
    <p>
        Friendly Name: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" class="btn btn-success" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Friendly Name
            </th>
            <th class="hidecolumn">
                Town
            </th>
            <th>
                Street 
            </th>
            <th class="hidecolumn">
                Country
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FriendlyName)
            </td>
                <td class="hidecolumn">
                @Html.DisplayFor(modelItem => item.Town)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
                <td class="hidecolumn">
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.LocationId">Details</a> 
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.LocationId">Edit</a>  
                        @if (!(item.training.Count > 0)) //only delete if not assigned!
                        {
                            <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.LocationId">Delete</a>
                        }
                    }
            </td>
        </tr>
}
    </tbody>
</table>
<br />

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new X.PagedList.Web.Common.PagedListRenderOptions{
    ActiveLiElementClass = "active",
    PageClasses = new[]{ "page-link"},
    LiElementClasses=new[] { "page-item" },
    UlElementClasses = new[] { "pagination","justify-content-center", "mt-3" },
    LinkToNextPageFormat = "Next",
    LinkToPreviousPageFormat = "Previous",
    MaximumPageNumbersToDisplay = 5
})