@model AKP_TrackManager.Models.TrackConfiguration

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TrackConfiguration</h4>
    <hr />
    <dl class="row">       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PresetName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PresetName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PresetNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PresetNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PresetImageLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PresetImageLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reversable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reversable)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TrackId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </form>
</div>
