@model X.PagedList.IPagedList<AKP_TrackManager.Models.ClubMembership>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Common;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    @@media screen and (max-width: 1024px) {
        .hidecolumn {
            display: none !important;
        }
    }
</style>
  @if (User.IsInRole("Admin"))
    {
        <h1>All Memberships</h1>
    }
@if (!User.IsInRole("Admin"))
{
    <h1>Your Membership</h1>
}

<p>
     @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create" class="btn btn-primary">Create New Membership</a>
        <a asp-action="IndexFilterAdmin" class="btn btn-success">Show Only Yours</a>
        <a asp-action="Index" class="btn btn-success">Show All</a>
    }
</p>
@if(User.IsInRole("Admin"))
{
    <form asp-controller="ClubMemberships" asp-action="Index">
        <p>
            Member: <input type="text" name="SearchString" value="@ViewBag.SearchString" />
            <input type="submit" value="Filter" class="btn btn-success" />
        </p>
    </form>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Join Date
            </th>
            <th class="hidecolumn">
                Fee Amount
            </th>
            <th>
                Member
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.JoinDate.ToString("dd.MM.yyyy")
            </td>
                <td class="hidecolumn">
                @item.FeeAmount
            </td>
            <td>
                @String.Join(" ",item.MemberMember.Name,item.MemberMember.Surname)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.MembershipId" class="btn btn-primary">Details</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.MembershipId" class="btn btn-primary">Edit</a> 
                        <a asp-action="Delete" asp-route-id="@item.MembershipId" class="btn btn-danger">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
<br />

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchString = ViewBag.SearchString }), new X.PagedList.Web.Common.PagedListRenderOptions{
    ActiveLiElementClass = "active",
    PageClasses = new[]{ "page-link"},
    LiElementClasses=new[] { "page-item" },
    UlElementClasses = new[] { "pagination","justify-content-center", "mt-3" },
    LinkToNextPageFormat = "Next",
    LinkToPreviousPageFormat = "Previous",
    MaximumPageNumbersToDisplay = 5
})
