@model IEnumerable<AKP_TrackManager.Models.DTO.MemberCarOnLapDto>

<script>
$(document).ready(function () {
    $("#clientScreenWidth").val($(window).width());
    $("#clientScreenHeight").val($(window).height());
});
</script>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole("Admin"))
{
    <h1>Laps</h1>
}
@if (User.IsInRole("User"))
{
    <h1>Your Laps</h1>
}
<thead>
<p>
    <a asp-action="Create" class="btn btn-primary">Add New Lap</a>
        @if (User.IsInRole("Admin"))
    {
        <a asp-action="IndexFilterAdmin" class="btn btn-success">Show Only Yours</a>
        <a asp-action="Index" class="btn btn-success">Show All</a>
    }
</p>
</thead>
<table class="table">
    <thead>
        <tr>
@*            <th>
                Measured Time
            </th>
            <th>
                Penalty Time
            </th>*@
            <th>
                Absolute Time
            </th>
            <th>
                Training Date
            </th>
            <th>
                Member
            </th>
            <th>
                Car
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
@*            <td>
                @item.MeasuredTime.ToString("mm':'ss':'ff")
            </td>
            <td>
                @item.PenaltyTime.ToString("mm':'ss':'ff")
            </td>*@
            <td>
                @item.AbsoluteTime.ToString("mm':'ss':'ff")
            </td>
            <td>
                @item.TrainingDate.ToString("dd.MM.yyyy")
            </td>
            <td>
                @String.Join(" ",item.Name,item.Surname) 
            </td>               
            <td>
                    @item.RegPlate                     
            </td>
            <td>
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.LapId">Details</a>                     
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.LapId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
