@model IEnumerable<AKP_TrackManager.Models.DTO.MemberCarOnLapDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Laps</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Measured Time
            </th>
            <th>
                Penalty Time
            </th>
            <th>
                Absolute Time
            </th>
            <th>
                Training Date
            </th>
            <th>
                Member
            </th>
            <th>
                Car
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MeasuredTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbsoluteTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingDate)
            </td>
            <td>
                @String.Join(" ",item.Name,item.Surname) 
            </td>
            <td>
                @item.RegPlate
            </td>
            <td>
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.LapId">Details</a> |
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.LapId">Edit</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.LapId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
