@model IEnumerable<AKP_TrackManager.Models.Member>

@{
    ViewData["Title"] = "Index";
}

<h1>Członkowie Automobilklubu</h1>

<p>    
    <a asp-action="Create" class="btn btn-primary">Dodaj nowego członka  </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAscendant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsStudent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleRole)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAscendant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsStudent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleRole.RoleName)
                </td>
                <td>
                    <button asp-action="Edit" class=" btn-secondary" asp-route-id="@item.MemberId">Edit</button>
                    <button asp-action="Details" class=" btn-secondary" asp-route-id="@item.MemberId">Details</button>
                    <button asp-action="Delete" class=" btn-secondary" asp-route-id="@item.MemberId">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
