@model IEnumerable<AKP_TrackManager.Models.Member>

@{
    ViewData["Title"] = "Index";
}

<h1>Automobilklub Members</h1>

<p>    
    <a asp-action="Create" class="btn btn-primary">Add New Member</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
      @*      <th>
                Date Of Birth
            </th>
            <th>
                Phone Number
            </th>*@
            <th>
                Email Address
            </th>
            <th>
                Ascendant
            </th>
            <th>
                Student
            </th>
            <th>
                Blocked
            </th>
            <th>
                Role
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
               @* <td>
                    @item.DateOfBirth.ToString("dd.MM.yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAscendant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsStudent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsBlocked)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleRole.RoleName)
                </td>
                <td>
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.MemberId">Details</a>
                     @if(User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.MemberId">Edit</a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.MemberId">Delete</a>
                }
                </td>
            </tr>
        }
    </tbody>
</table>
