@model AKP_TrackManager.Models.DTO.CarMemberDto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Make)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Make)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            Engine Capacity(CCM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngingeCapacity)
        </dd>
        <dt class = "col-sm-2">
            Engine Power(HP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnginePower)
        </dd>
        <dt class="col-sm-2">
            Registration Plate
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegPlate)
        </dd>
        <dt class="col-sm-2">
            Owner
        </dt>
        <dd class="col-sm-10">
            @string.Join(" ",Model.Name,Model.Surname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
<p>
    <h3>Accidents Of This Car</h3>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Accident Date
            </th>
            <th>
                Someone Injured
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CarAccidentByMembers.Where(c=>c.CarCarId == Model.CarId).ToList())
        {
            <tr>
                <td>
                    @item.AccidentAccident.AccidentDate.ToString("dd.MM.yyyy")
                </td>
                <td>

                    <input type="checkbox" disabled checked=" @item.AccidentAccident.AnyoneInjured" />
                </td>
                <td>                    
                    @if (User.IsInRole("Admin"))
                    {                        
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.AccidentAccident.AccidentId">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
