@model AKP_TrackManager.Models.DTO.CarMemberDto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Make)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Make)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            Engine Capacity(CCM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngingeCapacity)
        </dd>
        <dt class = "col-sm-2">
            Engine Power(HP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnginePower)
        </dd>
        <dt class="col-sm-2">
            Registration Plate
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegPlate)
        </dd>
        <dt class="col-sm-2">
            Owner
        </dt>
        <dd class="col-sm-10">
            @string.Join(" ",Model.Name,Model.Surname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-danger">Back to List</a>
</div>
