@model IEnumerable<AKP_TrackManager.Models.DTO.CarMemberDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole("Admin"))
{
    <h1>Cars</h1>
}
@if (User.IsInRole("User"))
{
    <h1>Your Cars</h1>
}
<thead>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New Car</a>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="IndexFilterAdmin" class="btn btn-success">Show Only Yours</a>
        <a asp-action="Index" class="btn btn-success">Show All</a>
    }
</p>
</thead>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                Engine Power(HP)
            </th>
            <th>
                Registration plate
            </th>
            <th>
                Owner
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.EnginePower)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegPlate)
                </td>
                <td>
                    @item.Name @item.Surname
                </td>
                <td>
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.CarId">Details</a>
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.CarId">Edit</a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.CarId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
