@model IEnumerable<AKP_TrackManager.Models.TrainingAttandance>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Member
            </th>
            <th>
                Training
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.MemberMember.Name @item.MemberMember.Surname
                </td>
                <td>
                    @item.TrainingTraining.Date.ToString("dd.MM.yyyy") - @Html.DisplayFor(modelItem => item.TrainingTraining.LocationLocation.FriendlyName)
                </td>
                <td>                    
                    <a asp-action="Delete" class="btn btn-primary" asp-route-id="@item.TrainingAttandanceId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

