@model IEnumerable<AKP_TrackManager.Models.training>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Trainings</h1>
 @if(User.IsInRole("Admin"))
{
    
    <p>
        <a asp-action="Create" class="btn btn-primary">Add New Training</a>
    </p>
    
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Start Time
            </th>
            <th>
                End Time
            </th>
            <th>
             Location Name
            </th>
            <th>
                Preset Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Date.ToString("dd.MM.yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationLocation.FriendlyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackConfigurationTrack.PresetName)
            </td>
            <td>
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.TrainingId">Details</a>
                    <form><a asp-action="SingUpForTraining" asp-controller="trainings" class="btn btn-primary" asp-route-id="@item.TrainingId">Sign For Training</a></form>
                    @if (ViewBag.Message != null)
                    {
                        <script type="text/javascript">
                            window.onload = function () {
                                alert("@ViewBag.Message");
                            };
                        </script>
                    }
                    @if(User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.TrainingId">Edit</a> 
                    <a asp-action="Delete" class="btn btn-primary" asp-route-id="@item.TrainingId">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
